*{margin: 0; padding: 0; box-sizing: border-box;}

#root{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
#root>div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}
#root>div:nth-child(1) div {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input{
  width: 300px;
  height: 35px;
  background-color: #d9d9d9;
  border-radius: 10px;
  border-style: none;
  margin: 10px;

}
label{
  font-family: inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
  color: #b6b6b6;
}
.button{
  width: 150px;
  font-family: inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 29.05px;
  background-color: #ff6666;
  border-radius: 10px;
  border-style: none;
  color: white;
  margin-left: 70px;
}
